{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

    <!-- 
        AREA DE DATOS BASICOS: combobox de categoría, combobox de producto y cantidad.
        El Combobox de Producto se carga dependiendo del valor el Combobox de Categoría,
        para ello se usa jquery y ajax.
        (VER COMENTARIO "COMBOBOX DEPENDIENTES PARA CATEGORIA Y PRODUCTO" en bodega.js)
    -->

    <form id="form" method="POST">

        {% csrf_token %}

        <div class="container d-flex justify-content-center">
            <div class="card" style="width: 40rem; margin-right: 20px;">
              <div class="row">
                <!-- campos del registro de usuario -->
                <div class="col-sm-12 col-md-6">
                  <div class="mb-3 fw-bold">
                    <p class="ficha_titulo" style="margin-top: 30px; margin-left: 130px;">
                      Bodega
                    </p>
                    <label for="rut" class="for-label" style="margin-left: 60px;">Categoria</label>
                    <div class="dropdown"style="margin-left: 60px;">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                        Seleccione categoria
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Terror</a></li>
                        <li><a class="dropdown-item" href="#">Accion</a></li>
                        <li><a class="dropdown-item" href="#">Otro</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="mb-3 fw-bold">
                    <label for="nombres" class="for-label" style="margin-left: 60px;">Nombre</label>
                    <div class="dropdown" style="margin-left: 60px;">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Seleccione Nombre
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Resident Evil 4</a></li>
                        <li><a class="dropdown-item" href="#">Titan Fall</a></li>
                        <li><a class="dropdown-item" href="#">Otro</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="mb-12 fw-bold">
                    <label for="Cantidad" class="for-label" style="margin-left: 60px;">Cantidad</label>
                    <div class="col-10" style="margin-left: 60px;">
                      <input type="text" class="form-control " id="cantidad" placeholder="Ej: 3" required>
                    </div>
                    <div class="invalid-feedback">Debe llenar el campo cantidad</div>
                  </div>
                  <br>
                  <div style="margin-left: 200px;">
                    <button type="button" class="btn btn-primary" >Nuevo</button>
                  </div>
                  
                  
                </div>
                <div class="col-sm-12 col-md-6">
                    <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}">
                    <div style="margin-top: 64px; margin-bottom: 30px;">
                      <button type="button" class="btn btn-primary" >Agregar</button>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </form>
        </section>
      </div>
    
          </div>

        {{ form|as_bootstrap_form }}

        <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}">
        
    </form>

    <!-- AREA DE TABLA DE PRODUCTOS -->

    {% if productos %}

    <div style="margin-left: 1px;">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Categoria</th>
              <th scope="col">Nombre</th>
              <th scope="col">Estado</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Terror</td>
              <td>Resident Evil 4</td>
              <td>Vendido</td>
              <td>
                <button type="reset" class="btn btn-primary btn-block" style="margin-bottom: 5px;">
                  Eliminar
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Accion</td>
              <td>Titan Fall</td>
              <td>Vendido</td>
              <td>
                <button type="reset" class="btn btn-primary btn-block" style="margin-bottom: 5px;">
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
        
        <table id="tabla-principal" class="table table-hover">
            <thead>
                <!-- AREA DE TITULOS DE LA TABLA -->
                <tr>
                    <th> Imagen </th>
                    <th> Acción </th>
                </tr>
            </thead>
            <tbody>
                <!-- AREA DE FILAS DE PRODUCTOS -->
                {% for producto in productos %}
                    <tr>
                        <td>
                            <img src="/media/{{ producto.imagen }}" class="producto-sm" alt="">
                        </td>
                        <!-- Botón de eliminar producto de bodega, se activa sólo para productos no vendidos -->
                        <td>
                            {% if producto.estado == 'En bodega' %}
                                <a href="{% url 'eliminar_producto_en_bodega' producto.bodega_id %}" 
                                    class="btn btn-danger btn-sm"> Eliminar </a>
                            {% else %}
                                <a href="{% url 'eliminar_producto_en_bodega' producto.bodega_id %}" 
                                    class="btn btn-primary btn-sm disabled"> Eliminar </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

    <div class="container d-flex justify-content-center">
        <div class="card" style="width: 40rem; margin-right: 20px;">
          <div class="row">
            <!-- campos del registro de usuario -->
            <div class="col-sm-12 col-md-6">
              <div class="mb-3 fw-bold">
                <p class="ficha_titulo" style="margin-top: 30px; margin-left: 130px;">
                  Bodega
                </p>
                <label for="rut" class="for-label" style="margin-left: 60px;">Categoria</label>
                <div class="dropdown"style="margin-left: 60px;">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                    Seleccione categoria
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Terror</a></li>
                    <li><a class="dropdown-item" href="#">Accion</a></li>
                    <li><a class="dropdown-item" href="#">Otro</a></li>
                  </ul>
                </div>
              </div>
              <div class="mb-3 fw-bold">
                <label for="nombres" class="for-label" style="margin-left: 60px;">Nombre</label>
                <div class="dropdown" style="margin-left: 60px;">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Seleccione Nombre
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Resident Evil 4</a></li>
                    <li><a class="dropdown-item" href="#">Titan Fall</a></li>
                    <li><a class="dropdown-item" href="#">Otro</a></li>
                  </ul>
                </div>
              </div>
              <div class="mb-12 fw-bold">
                <label for="Cantidad" class="for-label" style="margin-left: 60px;">Cantidad</label>
                <div class="col-10" style="margin-left: 60px;">
                  <input type="text" class="form-control " id="cantidad" placeholder="Ej: 3" required>
                </div>
                <div class="invalid-feedback">Debe llenar el campo cantidad</div>
              </div>
              <br>
              <div style="margin-left: 200px;">
                <button type="button" class="btn btn-primary" >Nuevo</button>
              </div>
              
              
            </div>
            <div class="col-sm-12 col-md-6">
                <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}">
                <div style="margin-top: 64px; margin-bottom: 30px;">
                  <button type="button" class="btn btn-primary" >Agregar</button>
                </div>
            </div>
            <div style="margin-left: 1px;">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Terror</td>
                    <td>Resident Evil 4</td>
                    <td>Vendido</td>
                    <td>
                      <button type="reset" class="btn btn-primary btn-block" style="margin-bottom: 5px;">
                        Eliminar
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Accion</td>
                    <td>Titan Fall</td>
                    <td>Vendido</td>
                    <td>
                      <button type="reset" class="btn btn-primary btn-block" style="margin-bottom: 5px;">
                        Eliminar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>

      </div>

{% endblock content %}

{% block script %}
    <input type="hidden" id="url_obtener_productos" value="{% url 'obtener_productos' %}">
    <script src="{% static 'core/js/bodega.js' %}"></script>
{% endblock script %}