{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

  <div class="container mt-5" class="centrado">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div>
          <img src="img/logo_xv_lg.png" alt="" style="padding-left: 30px" />
        </div>

        <div class="container">
          <section>
            <form class="row g-3" id="form" method="POST">
              <div class="contanier-fluid bg-white py-4 pt-4" style="border-radius: 10px;">
                <div class="row">
                  <p class="ficha_titulo" style="text-align: center; padding-bottom: 20px;">
                    Iniciar Sesión
                  </p>

                    <div class="row justify-content-center">
                  
                        {% csrf_token %} 
                        
                        {{ form|as_bootstrap_form }}
                        
                        <div class="text-center mt-4">
                          <button type="submit" class="btn btn-primary"> Ingresar </button>
                        </div>
                        
                    </div>

                    {% include 'common/combobox_usuarios.html' %}

                    <div class="text-center">
                      <div >
                        <br>
                        <a href="registrarme">Registrarme</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="ingresar">Olvide mi contraseña</a>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>

  

{% endblock content %}

{% block script %}
  <script src="{% static 'core/js/ingresar.js' %}"></script>
{% endblock script %}
