{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="instrucciones-para-el-alumno">
    INSTRUCCIONES PARA EL ALUMNO (ELIMINALO DESPUES DE LEERLO):<br>
    - Puedes probar una boleta con el siguiente link<br><br>
    &nbsp;&nbsp;&nbsp;
    <a href="{% url 'boleta' 1 %}">Ver boleta 1</a><br><br>
</div>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3>Detalle de la Boleta N° {{ boleta.nro_boleta }}</h3>
        </div>
        <div class="card-body">
            {% if boleta %}
                <p><strong>Cliente:</strong> {{ boleta.cliente.usuario.first_name }} {{ boleta.cliente.usuario.last_name }}</p>
                <p><strong>Fecha de Venta:</strong> {{ boleta.fecha_venta|formatear_fecha }}</p>
                <p><strong>Fecha de Despacho:</strong> {{ boleta.fecha_despacho|formatear_fecha }}</p>
                <p><strong>Fecha de Entrega:</strong> {{ boleta.fecha_entrega|formatear_fecha }}</p>
                <p><strong>Monto Total:</strong> {{ boleta.total_a_pagar }}</p>
                <p><strong>Estado:</strong> {{ boleta.estado }}</p>

                <h4>Detalle de Productos</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalle in detalle_boleta %}
                            <tr>
                                <td>{{ detalle.producto.nombre }}</td>
                                <td>{{ detalle.cantidad }}</td>
                                <td>{{ detalle.precio_unitario }}</td>
                                <td>{{ detalle.total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No hay información disponible para la boleta especificada.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}