{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="d-flex justify-content-center align-items-center min-vh-100">
  <form id="form" method="POST" enctype="multipart/form-data" style="align-content: center;">
    {% csrf_token %}
    <div class="card" style="max-width: 800px;">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <p class="ficha_titulo">Mis datos</p>
            <div class="mb-3">
              {{ form_usuario | as_bootstrap_form }}
            </div>
            <div class="mb-3">
              {{ form_perfil | as_bootstrap_form }}
            </div>
            <div>
              <button class="btn btn-primary boton-pag-datos mb-3" type="submit"> Actualizar mis datos </button>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="d-flex flex-column align-items-center">
              <div class="mb-3">
                <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}" class="img-thumbnail">
              </div>
              <div class="mb-3">
                <button class="btn btn-primary boton-pag-datos mb-3" onclick="event.preventDefault(); document.getElementById('id_imagen').click();">Seleccionar imagen</button>
                <input type="file" id="id_imagen" name="imagen" style="display: none;" onchange="previewImage(event)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock content %}

{% block script %}
  <script src="{% static 'core/js/misdatos.js' %}"></script>
{% endblock script %}
