{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    
  <form id="form" method="POST" enctype="multipart/form-data">
  
    {% csrf_token %}

    form_usuario|as_bootstrap_form <br>
    form_perfil|as_bootstrap_form <br>

    <!-- AREA DE CUADRO DE IMAGEN: Imagen de perfil (VER COMENTARIO "CUADRO DE IMAGEN" en script.js) -->
    {% if form_perfil.imagen.value %}
      <img id="cuadro-imagen" src="/media/{{ form_perfil.imagen.value }}">
    {% else %}
      <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}">
    {% endif %}
        

    <!-- AREA DE BOTONES -->
    <div class="mt-2 text-center">
      
      <button type="submit" class="btn btn-primary"> Guardar </button>

      <a href="{% url 'usuarios' 'crear' '0' %}" class="btn btn-primary"> Nuevo </a>

      <!-- AREA DE BOTON DE SELECCIONAR IMAGEN: Reemplaza el botón "Seleccionar archivo" por otro con Bootstrap (VER COMENTARIO "BOTON IMAGEN" en script.js) -->
      <button onclick="event.preventDefault(); document.getElementById('id_imagen').click();" class="btn btn-primary"> Seleccionar imagen </button>  

      {% if form_usuario.instance.id %}
        <a class="btn btn-primary" href="{% url 'usuarios' 'eliminar' form_usuario.instance.id %}"> Eliminar </a>
      {% endif %}
    
    </div>
  
  </form>

  <!-- AREA DE TABLA DE USUARIOS -->

  <!-- {% comment %} 
  
  {% if usuarios %} 
  
  {% endcomment %}

    <table id="tabla-principal" class="table table-hover">
      <thead>
        <tr>
          <th> ID </th>
          <th> Cuenta </th>
          <th> Tipo usuario </th>
          <th> Nombre </th>
          <th> Apellidos </th>
          <th> Correo </th>
          <th> RUT </th>
          <th> Subscrito </th>
          <th> Imagen </th>
          <th> Acciones </th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
          

          usuario.id </br>
          usuario.username </br>
          usuario.perfil.tipo_usuario </br>
          usuario.first_name </br>
          usuario.last_name </br>
          usuario.email </br>
          usuario.perfil.rut </br>
          
            <td> {% if usuario.perfil.subscrito %} Sí {% else %} No {% endif %} </td>
            <td>
              <img src="/media/{{ usuario.perfil.imagen }}" class="usuario-sm" alt="">
            </td>
            <td>
              <div class="btn-group">
                <a href="{% url 'usuarios' 'actualizar' usuario.id %}" class="btn btn-primary btn-sm"> Editar </a>
                <a href="{% url 'usuarios' 'eliminar' usuario.id %}" class="btn btn-danger btn-sm"> Eliminar </a>
                <form action="{% url 'cambiar_password' %}" method="post" id="form_{{ usuario.username }}">
                  {% csrf_token %}
                  <input type="hidden" id="username" name="username" value="{{ usuario.username }}">
                  <button class="btn btn-info btn-sm" id="id_generar_password" onclick="document.getElementById('form_{{ usuario.username }}').submit();"> Contraseña </button>
                </form>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
  {% comment %} 
  
  {% endif %} 
  
  {% endcomment %}
     -->
  <div class="container">
    <section >
      <div class="container py-4 pt-4">
        <form class="row g-3 needs-validation" id="formulario-usuario" action="">
          <div class="contanier-fluid bg-white py-4 pt-4" style="border-radius: 10px;">
            <div class="row">
              <!-- campos del registro de usuario -->
              <p class="ficha_titulo " >Administración de usuarios</p>
              <div class="col-sm-12 col-md-6" style="padding-left: 50px;">
                <div class="mb-3 fw-bold">
                  <label for="identificador" class="for-label">ID</label>
                  <input type="text" class="form-control" name="identificador" id="identiicador"  required>
                </div>
                <div class="mb-3 fw-bold contanier-fluid text-center">
                  <form  >
                    <label for="cliente">Cliente:</label>
                    <input type="radio" id="cliente" name="rol" value="cliente" >
                    &nbsp;&nbsp;
                    <label for="administrador" >Administrador:</label>
                    <input type="radio" id="administrador" name="rol" value="administrador">
                  </form>
                </div>
                <div class="mb-3 fw-bold">
                  <label for="rut" class="for-label">Rut</label>
                  <input type="text" class="form-control" id="rut" name="rut" placeholder="Ej: 123456789" value="">
                </div>
                <div class="mb-3 fw-bold">
                  <label for="nombres" class="for-label">Nombres</label>
                  <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Ej: Juan Andres" value="">
                </div>
                <div class="mb-3 fw-bold">
                  <label for="Apellidos" class="for-label">Apellidos</label>
                  <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Ej: Perez Lopez" value="">
                </div>
                <div class="mb-3 fw-bold">
                  <label for="correo" class="for-label">Correo</label>
                  <input type="text" class="form-control" id="correo" name="correo" placeholder="Ej: JuanP123@gmail.com" value="">
                </div>
                <div class="mb-3 fw-bold">
                  <label for="Direccion" class="for-label">Dirección</label>
                  <textarea type="text" class="form-control" id="direccion" name="direccion" rows="3" placeholder="Ej: Padre Alonso de Ovalle 1586, Santiago, Region Metropolitana" value=""></textarea>
                </div>
                <div class="mb-3 form-check" >
                  <input class="form-check-input" type="checkbox" value="" id="subscripcion">
                  <label class="form-check-label" for="subscripcion">
                    <strong>
                      Subscribirme a Xverse
                    </strong>
                  </label>
                  <div id="subscripcionHelp" class="form-text">
                    Deseo subscribirme a Xverse, por un costo de $5.000 pesos mesuales, 
                    para recibir correos con ofertas, promociones y eventos exclusivos</div>
                </div>
                <div class="mb-3 fw-bold">
                  <label for="generador" class="for-label">Contraseña</label>
                  <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="">
                  <div class="py-4 mb-3 fw-bold contanier-fluid text-center">
                    <button type="submit" class="btn btn-primary boton-pag-pass ">Generar Contraseña</button>
                  </div>
                </div>
                <div class="mb-3 fw-bold contanier-fluid text-center ">
                  <button type="submit" class="btn btn-primary boton-pag-datos" style="margin-bottom: 5px;" >Guardar</button>
                  <button type="submit" class="btn btn-primary boton-pag-datos" style="margin-bottom: 5px;">Nuevo</button>
                  <button type="reset" class="btn btn-primary boton-pag-datos" style="margin-bottom: 5px;">Eliminar</button>

                </div>
              </div>
              <!-- fotod de peril -->
              <div class="col-sm-12 col-md-6" style="padding-left: 150px; padding-top: 100px;">
                <table>
                  <tr>
                    <td>
                      <img src="img/7085548f3d0372a08aea0291ddcee895.jpg" alt="" class="foto_img">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="file" class="form-control">
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>

      {% comment %} 
  
  {% if usuarios %} 
  
  {% endcomment %}

    <table id="tabla-principal" class="table table-hover">
      <thead>
        <tr>
          <th> ID </th>
          <th> Cuenta </th>
          <th> Tipo usuario </th>
          <th> Nombre </th>
          <th> Apellidos </th>
          <th> Correo </th>
          <th> RUT </th>
          <th> Subscrito </th>
          <th> Imagen </th>
          <th> Acciones </th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
          

          usuario.id </br>
          usuario.username </br>
          usuario.perfil.tipo_usuario </br>
          usuario.first_name </br>
          usuario.last_name </br>
          usuario.email </br>
          usuario.perfil.rut </br>
          
            <td> {% if usuario.perfil.subscrito %} Sí {% else %} No {% endif %} </td>
            <td>
              <img src="/media/{{ usuario.perfil.imagen }}" class="usuario-sm" alt="">
            </td>
            <td>
              <div class="btn-group">
                <a href="{% url 'usuarios' 'actualizar' usuario.id %}" class="btn btn-primary btn-sm"> Editar </a>
                <a href="{% url 'usuarios' 'eliminar' usuario.id %}" class="btn btn-danger btn-sm"> Eliminar </a>
                <form action="{% url 'cambiar_password' %}" method="post" id="form_{{ usuario.username }}">
                  {% csrf_token %}
                  <input type="hidden" id="username" name="username" value="{{ usuario.username }}">
                  <button class="btn btn-info btn-sm" id="id_generar_password" onclick="document.getElementById('form_{{ usuario.username }}').submit();"> Contraseña </button>
                </form>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
  {% comment %} 
  
  {% endif %} 
  
  {% endcomment %}
    </section>
  </div>

{% endblock content %}
    
{% block script %}
  <script src="{% static 'core/js/usuarios.js' %}"></script>
{% endblock script %}
    